body {
    background-color: lightskyblue;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
}

nav {
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding-bottom: -20px;
}

header {
    padding: 30px 20px;
}

#game {
    background-color: lightgray;
    width: 40%;
    height: 50%;
    border: 5px solid white;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    transition: all .8s linear;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 5px 10px gray;
}

#timer {
    position: absolute;
    right: 410px;
    font-size: 18px; 
}

.astext1 {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

.astext2 {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

 #start-game {
    font-family: 'Indie Flower', cursive;
 }

 #play-again {
    font-family: 'Indie Flower', cursive;
 }

 #GameResult {
     position: absolute;
     left: 400px;
     font-size: 20px;
     color: lightcoral;
     font-weight: bold;
 }