body {
    background-color: lightskyblue;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 45px;
}

nav {
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

header {
    padding: 30px 20px;
}

#game {
    background-color: lightgray;
    width: 40%;
    height: 50%;
    border: 5px solid white;
    margin: auto;
    padding: 10px 0;
    box-sizing: border-box;
}

#timer {
    position: absolute;
    right: 410px
}

/* .card {
    
}
 */

 #start-game {
    font-family: 'Indie Flower', cursive;
 }

 #play-again {
    font-family: 'Indie Flower', cursive;
 }